name: Run Stock Script

on:
  schedule:
    - cron: "0 14,16,18,20 * * 1-5"   # runs every 5 minutes (UTC)
  workflow_dispatch:        # allows manual run

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install yfinance requests

      - name: Run script
        env:
          TOKEN: ${{ secrets.TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          STOCKS: ${{ secrets.STOCKS }}
        run: |
          python stock.py
