name: Run Stock Script

on:
  schedule:
    - cron: "*/5 * * * *"   # runs every 5 minutes (UTC)
  workflow_dispatch:        # allows manual run

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install yfinance requests

      - name: Run script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          python stock.py
